.contentpage{
    margin-top: 30px;
    margin-left: 220px;
    margin-right: 5px;
    height: 100%;
  }

.Navclass{
 
  background-color: #003b67;
height: 50px;
color: white;

}
 .navtext{

    text-align: right;
    margin-right: 10px;
  }